html {
    background-color: darkolivegreen;
}

section {
    background-color: darkseagreen;
    color: black;
}

body {
    margin: 0px;
}

nav {
    display: flex;
    background-color: darkseagreen;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

nav a {
    display: block;
    font-weight: bold;
    margin: 1px;
    padding: 1px 5px;
    text-decoration: none;
    color: black;
    background-color: darkseagreen;
}

header {
    border-color: black;
    border-bottom: 2px solid black;
    background-color: darkolivegreen;
    text-align: center;
    size: 5px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    color: black;
}

#first {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#second {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#third {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#fourth {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#fifth {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#p1 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#h1 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#p2 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#q1 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    font-size: larger;
    margin-top: 50px;
    margin-right: 500px;
    margin-left: 50px;
    line-height: 2em;
}

#p3 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#p4 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#h2 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#p5 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2em;
}

#img1 {
    margin-left: 1000px;
    margin-right: 50px;
    text-align:center;
    display: flex;
    width: fit-content;
    border: 2px solid black;
    margin: 50px;
    padding: 5px;
    background-color: darkseagreen;
}

#p6 {
    padding: 5px;
    background-color: darkseagreen;
    border: 2px solid black;
    color: black;
    width: fit-content;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 2em;
}